<details class="rounded-md bg-surface-container-low" name="operation" open>
  <summary
    class="{{ op.method.container }} flex items-center gap-2 rounded-md p-2"
  >
    <div
      class="{{ op.method.badge }} min-w-20 rounded p-2 text-center font-mono"
    >
      {{ op.method.name }}
    </div>
    <code class="grow">{{ op.url | e }}</code>
    <icon class="details-icon-open">keyboard_arrow_up</icon>
    <icon class="details-icon-closed">keyboard_arrow_down</icon>
  </summary>
  <div class="mx-auto prose px-2">
    {% for p in op.description %}<p>{{ p }}</p>{% endfor %}
  </div>

  <div class="px-2">
    <h2 class="font-bold">Request</h2>
    {% if op.request_schema %}
      <h3 class="text-sm font-semibold text-on-surface-variant">Schema</h3>
      <pre class="bg-surface-container-highest font-mono">
{{- op.request_schema | e -}}</pre
      >
      <h3 class="text-sm font-semibold text-on-surface-variant">Example</h3>
      <textarea
        class="api-request-body w-full resize-none bg-surface-container-highest font-mono"
        rows="{{ op.request_example.count('\n') + 1 }}"
        autocomplete="off"
        spellcheck="false"
      >
{{- op.request_example | e -}}</textarea
      >
    {% else %}
      <div class="italic">no body needed</div>
    {% endif %}

    <h2 class="font-bold">Response</h2>
    <h3 class="text-sm font-semibold text-on-surface-variant">Schema</h3>
    <pre class="bg-surface-container-highest font-mono">
{{- op.response_schema | e -}}</pre
    >
    <h3 class="text-sm font-semibold text-on-surface-variant">Example</h3>
    <textarea
      class="w-full resize-none bg-surface-container-highest font-mono"
      rows="{{ op.response_example.count('\n') + 1 }}"
      autocomplete="off"
      spellcheck="false"
    >
{{- op.response_example | e -}}</textarea
    >
  </div>
</details>
